.demo1-chart{
    height: 250px;
    width: 100%;
}

.title{
	padding: 2rem 0;
	font-size: 2rem;
	font-weight: bold;
	border-bottom: .2rem solid #23cbff;
	@include flex();
	span{
		padding: 0 2rem;
	}
	.s-title{
		padding-left: 0;
		color: #fff;
		border-right: 2px solid #eee;
	}
	.time{
		color: #fff;
		font-size: 1rem;
	}
}

.con{
	flex-wrap: wrap;
	padding: 2rem 0;
	@include flex()
}
.wrap{
    flex: 1;
    min-width: 25%;
    box-sizing: border-box;
    padding: .2rem;
    .box{
        padding: 1.5rem;
        box-sizing: border-box;
        @include box();
        .box-title{
            padding-bottom: .8rem;
            color: #4666FF;
        }
        .box-con{
            &.flex{
                @include flex();
            }
            .cate{
                color: #66CCFF;
                p{
                    @include flex();
                    padding: 1rem 0;
                    white-space: nowrap; 
                    font-size: 1rem;
                    font-weight: bold;
                    span{
                        font-size: 1.5rem;
                        font-weight: bold;
                        &.blue{
                            color: #6BD0EA;
                        }
                        &.green{
                            color: #30E237;
                        }
                        &.orange{
                            color: #EC9337;
                        }
                    }
                }
            }
        }
        // 业绩增长
        &.rise{
            color: #fff;
            .box-con{
                height: 250px;
            }
            .item{
                display: flex;
                justify-content: space-between;
                padding: .5rem 0;
                text-align: center;
              p{
                  flex: 1;
                  &:nth-child(3),&:nth-child(4){
                      padding: 0 .5rem;
                  }
                  .no{
                      display: inline-block;
                      width: 1rem;
                      height: 1rem;
                      line-height: 1rem;
                      background: #ff3000;
                      border-radius: 50%;
                  }
              }
            }
            .thead{
                background: #07c9ff;
            }
            .tbody {
                height: 222px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
        &.top{
            .box-con{
                height: 250px;
                text-align: center;
                box-sizing: border-box;
                p{
                    display: flex;
                    padding: .75rem 0;
                    span{
                        flex: 1;
                    }
                }
            }
        }
    }
}