.flex{
    @include flex();
}
.ccfb52b{
    color: $ccfb52b;
}
.c22cf8b{
    color: $c22cf8b;
}
.c3c7ef8{
    color: $c3c7ef8;
}
.ced4a51{
    color: $ced4a51;
}
.cfd8855{
    color: $cfd8855;
}

.demo2-chart{
    width: 100%;
}

.demo2-container{
    color: #b7d7fd;
    #pieChart, #ringChart{
        height: 380px;
        width: 300px;
        margin: 0 auto;
    }
    .box-con{
        &.seat{
            flex-wrap: wrap;
            p{
                display: flex;
                align-items: center;
                width: 50%;
                padding-top: 1rem;
                .value{
                    padding-left: .5rem;
                    font-size: 1.8rem;
                }
            }
        }
        &.box2-3{
            font-size: 1rem;
            text-align: center;
            .item{
                flex: 1;
                .value{
                    padding-bottom: 1.3rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .box2-2{
        .box{
            padding: 0;
            .box-title{
                padding: 1.5rem ;
            }
            p{
                display: flex;
                padding: .8rem 1.5rem;
                text-align: center;
                &.thead{
                    color: #709af9;
                }
                span{
                    flex: 1;
                    &.rise{
                        color: #22cc8a;
                        &::after{
                            content: '↑';
                            padding: 0 .3rem;
                            font-weight: bold;
                            font-size: 1rem;
                        }
                    }
                    &.down{
                        color: #ed4a51;
                        &::after{
                            content: '↓';
                            padding: 0 .3rem;
                            font-weight: bold;
                            font-size: 1rem;
                        }
                    }
                    &:first-child{
                        text-align: left;
                    }
                    &:last-child{
                        text-align: right;
                    }
                }
            }
            &.box2-notop{
                padding: 0;
                border-top: 0;
                text-align: center;
                &:last-child{
                    padding-bottom: 1rem;
                }
            }
        }
    }
    .box2-4{
        background: url('../../static/u4.png');
        background-size: 100% 100%;
    }
}





.center{
    width: 55%;
}
.left, .right{
    flex: 1;
}