$bgColor: #0a002a;
$color: #60cbff;

$ccfb52b: #cfb52b;
$c22cf8b: #22cf8b;
$c3c7ef8: #3c7ef8;
$ced4a51: #ed4a51;
$cfd8855: #fd8855;

@mixin ellipsis(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@mixin box(){
	background: rgba(36, 53, 135, 0.3);
	border: 2px solid #243587;
}
@mixin flex(){
	display: flex;
	align-items: center;
	justify-content: space-between;
}